{% extends "base.html.twig" %}
{% block title %}WildCircus Remastered !{% endblock %}

{% block body %}
    <div class="container p-5">
        <div class="row globalContainer justify-content-around text-center m-0 p-0">
            {% for performancesimage in performancesimages %}
            <div class="multiBlock my-lg-3 py-lg-3 my-5 mz-5 col-sm-12 col-lg-3">
                <h3>{{ performancesimage.title }}</h3>
                    <div class="dtl13">
                        <img src="{{ performancesimage.image }}" alt="">
                        <div class="dtl d-none d-lg-block">
                            <h3>{{ performancesimage.title }}</h3>
                            <p>{{ performancesimage.textimages }}</p>
                        </div>
                        <p class="d-block textPortable d-lg-none">
                            {{ performancesimage.textimages }}
                        </p>
                    </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}