{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10 pt-5">
<table class="table table-hover">
    <thead class="thead-dark">
    <tr>
        <th scope="col"></th>
        <th scope="col">Adults</th>
        <th scope="col">Children under 12 years old</th>
        <th scope="col">Groups of more than 10 people</th>
        <th scope="col">Schools</th>
    </tr>
    </thead>
    <tbody>
    {% for price in prices %}
    <tr>
        <th scope="row">{{ price.days }}</th>
        <td>${{ price.adultprices }}</td>
        <td>${{ price.kidsprice }}</td>
        <td>${{ price.groups }} per person</td>
        <td>${{ price.school }} per schoolchild</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
        </div>
        <div class="col-1"></div>
    </div>

    </div>
{% endblock %}